@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Martel:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: black;
}
.main{
    background-image: url("assets/images/bg.jpg");
    height: 85vh;
    position: relative;
    /* Results of below two properties can be shown in inpsect resizing */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);    /*This property maintain the zoom-in and zoom-out effect*/
}
.main .box{
    height: 85vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top:0;
    background-color: black;
}
nav{
    max-width: 60vw;
    justify-content: space-between; /*similarly space-around, space-evenly*/
    display: flex;
    align-items: center;
    margin: auto;
    height: 62px;
}

nav img{
    color: red;
    width: 130px;
    position: relative;
    /*Below two properties helps to pop out the logo and buttons*/
    position: relative;
    z-index: 10;
}
nav button{
    position: relative;
    z-index: 10;
}
.hero{
    font-family: 'Martel Sans', sans-serif;
    height: calc(100% - 62px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative ;
    gap: 23px;
    z-index: 10;
    padding: 0 30px;    /*first element shows height and second shows width*/
}
.hero> :nth-child(1){
    /* Arrow shows immediate child */
    font-weight: bolder;
    font-size: 48px;
}
.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
}
.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
}
.separation{
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}
.btn{
    padding: 3px 8px;
    color: white;
    font-weight: 40x    0;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 1px solid rgba(137, 136, 136, 0.63);
    cursor: pointer;
    border-width: 1px;
}
.btn-red{
    background-color: red;
    color: white;
    padding: 3px 24px;  /*Add Padding by observing the ouputs in chrome*/
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400
}
.btn-red-sm{
    background-color: red;
    color: white;
}
.hero-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.main input{
    padding: 7px 101px 8px 14px;  /*Add Padding by observing the ouputs in chrome*/
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}

.first{
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}

.secImg{
    position: relative;
}
.secImg img{
    width: 555px;  /*This will controls the width of TV image. To make the responsive website use pixels-px*/
    position: relative;
    z-index: 10;    /*Z-index will pop-out the things*/
}
.secImg video{
    position: absolute;     /*Position-absolute video ko upar ke side lekar aat hai, for more information google it*/
    top: 51px;
    right: 0;
    width: 555px; 
} 
section.first > div{
    display: flex;
    flex-direction: column;
    padding: 34px 0;    /*first shows height and second shows width*/
}
section.first > div :nth-child(1){
    font-size: 48px;
    font-weight: bolder;
}
section.first > div :nth-child(2){
    font-size: 24px;
}
.faq h2{
    text-align: center;
    font-size: 48px;
}
.faq{
    background: black;
    color: white;
    padding: 34px;
    font-size: 24px;
}
.faqbox:hover{
    background-color: #414141;
}
.faqbox svg{
    filter: invert(1);
}
.faqbox{
    transition: all 0.2s ease-out;
    display: flex;
    justify-content: space-between;     /*This will separate the text and plus icon*/
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 40vw;
    margin: 34px auto;  /*Gives gap between FAQs*/
    cursor: pointer;
}
footer .questions{
    padding: 34px;
}
footer{
    color: white;
    max-width: 60vw;
    margin: auto;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
}

/*After 1300px media query will wrap the content of the screen*/
@media screen and (max-width: 1300px){
    nav{
        max-width: 90vw;
    }
    .first{
        flex-wrap: wrap;
    }
    .secImg img{
        width: 305px;  /*This will controls the width of TV image. To make the responsive website use pixels-px*/
        position: relative;
        z-index: 10;    /*Z-index will pop-out the things*/
    }
    .secImg video{
        width: 305px; 
    }     
    .hero> :nth-child(1){
        font-size: 32px;
    }
    .hero> :nth-child(2){
        font-size: 18px;
    }
    .hero> :nth-child(3){
        font-size: 18px;
    }
    .hero-buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
    .faq h2{
        text-align: center;
        font-size: 32px;
    }
    footer{
        max-width: 90vw;
    }
    .footer-item{
        align-items: center;
    }
}

/*After 1300px media query will wrap the content of the screen*/
@media screen and (max-width: 1300px){
    .footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 29px;
    }
}
.footer-item{
    display: flex;  
    flex-direction: column;
}
.footer a{
    font-size: 14px;
    color: white;
}